@media only screen and (min-width: 1440px) {

    body {
        /* width: 1400px; */
        /* height: 700px; */
        overflow: auto;
    }

    .background {
        transform: translateX(-100px);
    }

    .smartphone_layout {
        transform: translate(300px, 50px);
        transition: 1s ease-in-out;
    }
    
    .description {
        position: absolute;
        left: 750px;
        top: 120px;
        transition: 1s;
    }

    .description h1, .description p {
        text-align: left;
        max-width: 441px;
        transition: 1s;
    }

    .background2 {
        width: 500px;
        height: 1000px;
        background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        border-radius: 0 0 250px 250px;
        transform: translateX(1130px) translateY(-430px) rotate(180deg);
        z-index: 9;
        opacity: 0.03;
        position: fixed;
    }

    .body_flex .smartphone_layout {
        transform: scale(1.2);
        left: 300px;
        top: 150px;
    }

}